{
    "gfx/tiles/beach"             : ( 249, 231, 159, 255 ),
    "gfx/tiles/deep"              : (  21,  67,  96, 255 ),
    "gfx/tiles/deeptangle"        : (  10,  10,  10, 255 ),
    "gfx/tiles/dirt"              : ( 147,  81,  22, 255 ),
    "gfx/tiles/field"             : ( 169, 223, 191, 255 ),
    "gfx/tiles/flowermeadow"      : (  88, 214, 141, 255 ),
    "gfx/tiles/grass"             : (  40, 180,  99, 255 ),
    "gfx/tiles/highground"        : ( 147, 102,  57, 255 ),
    "gfx/tiles/mountain"          : (  90,  82,  58, 255 ),
    "gfx/tiles/paving/ballbrick"  : (  10,  10,  10, 255 ),
    "gfx/tiles/paving/basalt"     : (  10,  10,  10, 255 ),
    "gfx/tiles/paving/catgold"    : (  10,  10,  10, 255 ),
    "gfx/tiles/paving/dolomite"   : (  10,  10,  10, 255 ),
    "gfx/tiles/paving/feldspar"   : (  10,  10,  10, 255 ),
    "gfx/tiles/paving/gneiss"     : (  10,  10,  10, 255 ),
    "gfx/tiles/paving/hornblende" : (  10,  10,  10, 255 ),
    "gfx/tiles/paving/limestone"  : (  10,  10,  10, 255 ),
    "gfx/tiles/paving/marble"     : (  10,  10,  10, 255 ),
    "gfx/tiles/paving/quartz"     : (  10,  10,  10, 255 ),
    "gfx/tiles/paving/sandstone"  : (  10,  10,  10, 255 ),
    "gfx/tiles/paving/schist"     : (  10,  10,  10, 255 ),
    "gfx/tiles/paving/microlite"  : (  10,  10,  10, 255 ),
    "gfx/tiles/pinebarren"        : (  20,  90,  50, 255 ),
    "gfx/tiles/sombrebramble"     : ( 231,  76,  60, 255 ),
    "gfx/tiles/wald"              : (  25, 111,  61, 255 ),
    "gfx/tiles/water"             : (  33,  97, 140, 255 ),
    "gfx/tiles/lichenwold"        : ( 101, 109,  74, 255 ),
    "gfx/tiles/scrubveld"         : ( 249, 132,  74, 255 ),
    "gfx/tiles/mountainsnow"      : ( 220, 220, 220, 255 ),
    "gfx/tiles/snow"              : ( 200, 200, 200, 255 ),
    "gfx/tiles/ice"               : ( 200, 200, 255, 255 ),
    "gfx/tiles/cave"              : ( 100, 100, 100, 255 ),
    "gfx/tiles/lushcave"          : ( 100, 150, 100, 255 ),
    "gfx/tiles/mine"              : ( 150, 100, 100, 255 ),
    "gfx/tiles/shadehollow"       : (  50,  50,  50, 255 ),
    "gfx/tiles/rocks/sandstone"   : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/dolomite"    : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/ilmenite"    : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/breccia"     : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/feldspar"    : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/granite"     : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/kyanite"     : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/leadglance"  : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/limestone"   : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/orthoclase"  : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/quartz"      : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/soapstone"   : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/chalcopyrite": ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/sodalite"    : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/basalt"      : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/flint"       : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/gneiss"      : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/greenschist" : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/mica"        : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/microlite"   : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/olivine"     : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/pumice"      : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/rhyolite"    : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/gabbro"      : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/fluorospar"  : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/apatite"     : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/diabase"     : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/zincspar"    : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/schist"      : ( 150, 100, 150, 255 ),
    "gfx/tiles/rocks/hornblende"  : ( 150, 100, 150, 255 ),
}
