{
    "gfx/tiles/beach"             : ( 249, 231, 159, 255 ),
    "gfx/tiles/deep"              : ( 21,  67,  96,  255 ),
    "gfx/tiles/deeptangle"        : ( 10, 10, 10, 255),
    "gfx/tiles/dirt"              : ( 147, 81,  22,  255 ),
    "gfx/tiles/field"             : ( 169, 223, 191, 255 ),
    "gfx/tiles/flowermeadow"      : ( 88,  214, 141, 255 ),
    "gfx/tiles/grass"             : ( 40,  180, 99,  255 ),
    "gfx/tiles/highground"        : ( 10, 10, 10, 255),
    "gfx/tiles/mountain"          : ( 90,  82,  58,  255 ),
    "gfx/tiles/paving/ballbrick"  : ( 10, 10, 10, 255),
    "gfx/tiles/paving/basalt"     : ( 10, 10, 10, 255),
    "gfx/tiles/paving/catgold"    : ( 10, 10, 10, 255),
    "gfx/tiles/paving/dolomite"   : ( 10, 10, 10, 255),
    "gfx/tiles/paving/feldspar"   : ( 10, 10, 10, 255),
    "gfx/tiles/paving/gneiss"     : ( 10, 10, 10, 255),
    "gfx/tiles/paving/hornblende" : ( 10, 10, 10, 255),
    "gfx/tiles/paving/limestone"  : ( 10, 10, 10, 255),
    "gfx/tiles/paving/marble"     : ( 10, 10, 10, 255),
    "gfx/tiles/paving/quartz"     : ( 10, 10, 10, 255),
    "gfx/tiles/paving/sandstone"  : ( 10, 10, 10, 255),
    "gfx/tiles/paving/schist"     : ( 10, 10, 10, 255),
    "gfx/tiles/pinebarren"        : ( 20,  90,  50,  255 ),
    "gfx/tiles/sombrebramble"     : ( 231, 76,  60,  255 ),
    "gfx/tiles/wald"              : ( 25,  111, 61,  255 ),
    "gfx/tiles/water"             : ( 33,  97,  140, 255 ),
}
